@import '../variables.less';

.Container-Footer {
  border-top: 1px solid @dark-red;
  text-align: center;
  font-family: @sans-serif-fonts;
  margin: 8px 0 0;
  font-size: 14px;
  color: @medium-red;

  .Text-Link {
    margin: 8px 4px 0;
    color: @medium-red;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: @light-red;
    }
  }
}
