@import '../variables.less';

.Component-NewTabPage {
  display: flex;
  flex-direction: column;

  .Text-Header {
    padding: 0 0 24px 40px;
    font-weight: normal;
    font-family: @serif-fonts;
    font-size: 32px;
    color: @dark-red;
  }
}
